pip install numpy pandas pillow opencv-python scikit-learn tensorflow streamlit matplotlib
streamlit
tensorflow==2.13.0
numpy
pandas
Pillow
matplotlib
reportlab

numpy
pandas
pillow
opencv-python
scikit-learn
tensorflow
streamlit
matplotlib
& .venv\Scripts\Activate.ps1
py -3.10 -m streamlit run app.py
//do feature selection